.close {
  padding: 25px 25px;
}

.modal-project-description {
  font-family: "Roboto", sans-serif;
  line-height: 1.5rem;
}

#yennega-contain {
  position: absolute;
  top: 50%;
  left: 50%;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  transform: translate(-50%, -50%);
  transition: 0.2s;
  background-color: beige;
  visibility: hidden;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#yennega-contain #yennega-header {
  text-align: right;
  padding: 15px;
}
#yennega-contain #yennega-header span a {
  text-decoration: none;
  padding: 25px 25px;
  align-self: auto;
}
#yennega-contain #yennega-body {
  margin: 15px auto;
  text-align: center;
}
#yennega-contain #yennega-body .image-description {
  padding: 15px;
}
#yennega-contain #yennega-body .image-description .modal-project-image {
  width: 96%;
  max-width: 1000px;
  margin-left: 1.5%;
}
#yennega-contain #yennega-body .image-description .link {
  margin-top: 10px;
  padding-top: 15px;
}
#yennega-contain #yennega-body .image-description .link span {
  padding: 10px 15px;
  background-color: black;
  color: beige;
  cursor: pointer;
  border-radius: 4px;
}
#yennega-contain #yennega-body .image-description .link span a {
  text-decoration: none;
  color: beige;
}
#yennega-contain #yennega-body .modal-project-tech {
  position: relative;
  width: 30%;
  height: 100%;
  float: right;
  clear: both;
  margin-right: 10px;
  margin-top: 45px;
}
#yennega-contain #yennega-body .modal-project-tech .modal-project-tech-used {
  position: relative;
  width: 80%;
  -webkit-clip-path: polygon(100% 100%, 100% 0, 87% 8%, 12% 9%, 0 0, 0 100%, 15% 93%, 87% 92%);
          clip-path: polygon(100% 100%, 100% 0, 87% 8%, 12% 9%, 0 0, 0 100%, 15% 93%, 87% 92%);
  border-radius: 15px;
  background-color: black;
  padding: 5px;
  text-align: center;
}
#yennega-contain #yennega-body .modal-project-tech .modal-project-tech-used .modal-project-tech-text {
  color: beige;
  text-transform: uppercase;
}
#yennega-contain #yennega-body .modal-project-tech .modal-project-tech-used .modal-project-tech-img {
  position: relative;
  width: 35px;
  height: 25px;
}

#yennega {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.3s;
  width: 100vw;
  height: 100vh;
  z-index: -5;
}

#yennega:target {
  z-index: 10;
  visibility: visible;
}
#yennega:target #yennega-contain {
  visibility: visible;
}

#levys-contain {
  position: absolute;
  top: 50%;
  left: 50%;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  transform: translate(-50%, -50%);
  transition: 0.2s;
  background-color: beige;
  visibility: hidden;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#levys-contain #levys-header {
  text-align: right;
  padding: 15px;
}
#levys-contain #levys-header span a {
  text-decoration: none;
  padding: 25px 25px;
  align-self: auto;
}
#levys-contain #levys-body {
  margin: 15px auto;
  text-align: center;
}
#levys-contain #levys-body .image-description {
  padding: 15px;
}
#levys-contain #levys-body .image-description .modal-project-image {
  width: 96%;
  max-width: 1000px;
  margin-left: 1.5%;
}
#levys-contain #levys-body .image-description .link {
  margin-top: 10px;
  padding-top: 15px;
}
#levys-contain #levys-body .image-description .link span {
  padding: 10px 15px;
  background-color: black;
  color: beige;
  cursor: pointer;
  border-radius: 4px;
}
#levys-contain #levys-body .image-description .link span a {
  text-decoration: none;
  color: beige;
}
#levys-contain #levys-body .modal-project-tech {
  position: relative;
  width: 30%;
  height: 100%;
  float: right;
  clear: both;
  margin-right: 10px;
  margin-top: 45px;
}
#levys-contain #levys-body .modal-project-tech .modal-project-tech-used {
  position: relative;
  width: 80%;
  -webkit-clip-path: polygon(100% 100%, 100% 0, 87% 8%, 12% 9%, 0 0, 0 100%, 15% 93%, 87% 92%);
          clip-path: polygon(100% 100%, 100% 0, 87% 8%, 12% 9%, 0 0, 0 100%, 15% 93%, 87% 92%);
  border-radius: 15px;
  background-color: black;
  padding: 5px;
  text-align: center;
}
#levys-contain #levys-body .modal-project-tech .modal-project-tech-used .modal-project-tech-text {
  color: beige;
  text-transform: uppercase;
}
#levys-contain #levys-body .modal-project-tech .modal-project-tech-used .modal-project-tech-img {
  position: relative;
  width: 35px;
  height: 25px;
}

#levys {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.3s;
  width: 100vw;
  height: 100vh;
  z-index: -5;
}

#levys:target {
  z-index: 10;
  visibility: visible;
}
#levys:target #levys-contain {
  visibility: visible;
}

#close2:target {
  z-index: -5;
  visibility: hidden;
}
#close2:target #levys-contain {
  visibility: hidden;
}

#peniel-contain {
  position: absolute;
  top: 50%;
  left: 50%;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  transform: translate(-50%, -50%);
  transition: 0.2s;
  background-color: beige;
  visibility: hidden;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#peniel-contain #peniel-header {
  text-align: right;
  padding: 15px;
}
#peniel-contain #peniel-header span a {
  text-decoration: none;
  padding: 25px 25px;
  align-self: auto;
}
#peniel-contain #peniel-body {
  margin: 15px auto;
  text-align: center;
}
#peniel-contain #peniel-body .image-description {
  padding: 15px;
}
#peniel-contain #peniel-body .image-description .modal-project-image {
  width: 96%;
  max-width: 1000px;
  margin-left: 1.5%;
}
#peniel-contain #peniel-body .image-description .link {
  margin-top: 10px;
  padding-top: 15px;
}
#peniel-contain #peniel-body .image-description .link span {
  padding: 10px 15px;
  background-color: black;
  color: beige;
  cursor: pointer;
  border-radius: 4px;
}
#peniel-contain #peniel-body .image-description .link span a {
  text-decoration: none;
  color: beige;
}
#peniel-contain #peniel-body .modal-project-tech {
  position: relative;
  width: 30%;
  height: 100%;
  float: right;
  clear: both;
  margin-right: 10px;
  margin-top: 45px;
}
#peniel-contain #peniel-body .modal-project-tech .modal-project-tech-used {
  position: relative;
  width: 80%;
  -webkit-clip-path: polygon(100% 100%, 100% 0, 87% 8%, 12% 9%, 0 0, 0 100%, 15% 93%, 87% 92%);
          clip-path: polygon(100% 100%, 100% 0, 87% 8%, 12% 9%, 0 0, 0 100%, 15% 93%, 87% 92%);
  border-radius: 15px;
  background-color: black;
  padding: 5px;
  text-align: center;
}
#peniel-contain #peniel-body .modal-project-tech .modal-project-tech-used .modal-project-tech-text {
  color: beige;
  text-transform: uppercase;
}
#peniel-contain #peniel-body .modal-project-tech .modal-project-tech-used .modal-project-tech-img {
  position: relative;
  width: 35px;
  height: 25px;
}

#peniel {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.3s;
  width: 100vw;
  height: 100vh;
  z-index: -5;
}

#peniel:target {
  z-index: 10;
  visibility: visible;
}
#peniel:target #peniel-contain {
  visibility: visible;
}

#close3:target {
  z-index: -5;
  visibility: hidden;
}
#close3:target #peniel-contain {
  visibility: hidden;
}

#pg-contain {
  position: absolute;
  top: 50%;
  left: 50%;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  transform: translate(-50%, -50%);
  transition: 0.2s;
  background-color: beige;
  visibility: hidden;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#pg-contain #pg-header {
  text-align: right;
  padding: 15px;
}
#pg-contain #pg-header span a {
  text-decoration: none;
  padding: 25px 25px;
  align-self: auto;
}
#pg-contain #pg-body {
  margin: 15px auto;
  text-align: center;
}
#pg-contain #pg-body .image-description {
  padding: 15px;
}
#pg-contain #pg-body .image-description .modal-project-image {
  width: 96%;
  max-width: 1000px;
  margin-left: 1.5%;
}
#pg-contain #pg-body .image-description .link {
  margin-top: 10px;
  padding-top: 15px;
}
#pg-contain #pg-body .image-description .link span {
  padding: 10px 15px;
  background-color: black;
  color: beige;
  cursor: pointer;
  border-radius: 4px;
}
#pg-contain #pg-body .image-description .link span a {
  text-decoration: none;
  color: beige;
}
#pg-contain #pg-body .modal-project-tech {
  position: relative;
  width: 30%;
  height: 100%;
  float: right;
  clear: both;
  margin-right: 10px;
  margin-top: 45px;
}
#pg-contain #pg-body .modal-project-tech .modal-project-tech-used {
  position: relative;
  width: 80%;
  -webkit-clip-path: polygon(100% 100%, 100% 0, 87% 8%, 12% 9%, 0 0, 0 100%, 15% 93%, 87% 92%);
          clip-path: polygon(100% 100%, 100% 0, 87% 8%, 12% 9%, 0 0, 0 100%, 15% 93%, 87% 92%);
  border-radius: 15px;
  background-color: black;
  padding: 5px;
  text-align: center;
}
#pg-contain #pg-body .modal-project-tech .modal-project-tech-used .modal-project-tech-text {
  color: beige;
  text-transform: uppercase;
}
#pg-contain #pg-body .modal-project-tech .modal-project-tech-used .modal-project-tech-img {
  position: relative;
  width: 35px;
  height: 25px;
}

#pg {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.3s;
  width: 100vw;
  height: 100vh;
  z-index: -5;
}

#pg:target {
  z-index: 10;
  visibility: visible;
}
#pg:target #pg-contain {
  visibility: visible;
}

#close2:target {
  z-index: -5;
  visibility: hidden;
}
#close2:target #pg-contain {
  visibility: hidden;
}

#os-contain {
  position: absolute;
  top: 50%;
  left: 50%;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  transform: translate(-50%, -50%);
  transition: 0.2s;
  background-color: beige;
  visibility: hidden;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#os-contain #os-header {
  text-align: right;
  padding: 15px;
}
#os-contain #os-header span a {
  text-decoration: none;
  padding: 25px 25px;
  align-self: auto;
}
#os-contain #os-body {
  margin: 15px auto;
  text-align: center;
}
#os-contain #os-body .image-description {
  padding: 15px;
}
#os-contain #os-body .image-description .modal-project-image {
  width: 96%;
  max-width: 1000px;
  margin-left: 1.5%;
}
#os-contain #os-body .image-description .link {
  margin-top: 10px;
  padding-top: 15px;
}
#os-contain #os-body .image-description .link span {
  padding: 10px 15px;
  background-color: black;
  color: beige;
  cursor: pointer;
  border-radius: 4px;
}
#os-contain #os-body .image-description .link span a {
  text-decoration: none;
  color: beige;
}
#os-contain #os-body .modal-project-tech {
  position: relative;
  width: 30%;
  height: 100%;
  float: right;
  clear: both;
  margin-right: 10px;
  margin-top: 45px;
}
#os-contain #os-body .modal-project-tech .modal-project-tech-used {
  position: relative;
  width: 80%;
  -webkit-clip-path: polygon(100% 100%, 100% 0, 87% 8%, 12% 9%, 0 0, 0 100%, 15% 93%, 87% 92%);
          clip-path: polygon(100% 100%, 100% 0, 87% 8%, 12% 9%, 0 0, 0 100%, 15% 93%, 87% 92%);
  border-radius: 15px;
  background-color: black;
  padding: 5px;
  text-align: center;
}
#os-contain #os-body .modal-project-tech .modal-project-tech-used .modal-project-tech-text {
  color: beige;
  text-transform: uppercase;
}
#os-contain #os-body .modal-project-tech .modal-project-tech-used .modal-project-tech-img {
  position: relative;
  width: 35px;
  height: 25px;
}

#os {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.3s;
  width: 100vw;
  height: 100vh;
  z-index: -5;
}

#os:target {
  z-index: 10;
  visibility: visible;
}
#os:target #os-contain {
  visibility: visible;
}

#close2:target {
  z-index: -5;
  visibility: hidden;
}
#close2:target #os-contain {
  visibility: hidden;
}

#modal-gif-finder-contain {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80vw;
  height: 80vh;
  transform: translate(-50%, -50%);
  transition: 0.2s;
  background-color: beige;
  visibility: hidden;
  border-radius: 15px;
}
#modal-gif-finder-contain #modal-gif-finder-header {
  position: absolute;
  right: 30px;
  top: 30px;
}
#modal-gif-finder-contain #modal-gif-finder-header span a {
  text-decoration: none;
  padding: 25px 25px;
}
#modal-gif-finder-contain #modal-gif-finder-body {
  position: absolute;
  left: 30px;
  top: 40px;
}
#modal-gif-finder-contain #modal-gif-finder-body .image-description {
  position: relative;
  width: 90%;
  height: 100%;
  display: inline-block;
}
#modal-gif-finder-contain #modal-gif-finder-body .image-description .modal-project-image {
  position: relative;
  width: 100%;
  height: 50%;
}
#modal-gif-finder-contain #modal-gif-finder-body .image-description .link {
  margin-top: 10px;
}
#modal-gif-finder-contain #modal-gif-finder-body .image-description .link p a {
  margin: 15px 35px 15px 35px;
  text-decoration: none;
  color: rgb(21, 21, 243);
}
#modal-gif-finder-contain #modal-gif-finder-body .modal-project-tech {
  position: relative;
  width: 30%;
  height: 100%;
  float: right;
  clear: both;
  margin-right: 10px;
  margin-top: 45px;
}
#modal-gif-finder-contain #modal-gif-finder-body .modal-project-tech .modal-project-tech-used {
  position: relative;
  width: 80%;
  -webkit-clip-path: polygon(100% 100%, 100% 0, 87% 8%, 12% 9%, 0 0, 0 100%, 15% 93%, 87% 92%);
          clip-path: polygon(100% 100%, 100% 0, 87% 8%, 12% 9%, 0 0, 0 100%, 15% 93%, 87% 92%);
  border-radius: 15px;
  background-color: black;
  padding: 5px;
  text-align: center;
}
#modal-gif-finder-contain #modal-gif-finder-body .modal-project-tech .modal-project-tech-used .modal-project-tech-text {
  color: beige;
  text-transform: uppercase;
}
#modal-gif-finder-contain #modal-gif-finder-body .modal-project-tech .modal-project-tech-used .modal-project-tech-img {
  position: relative;
  width: 35px;
  height: 25px;
}

#modal-gif-finder {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.3s;
  width: 100vw;
  height: 100vh;
  z-index: -2;
}

#modal-gif-finder:target {
  z-index: 10;
  visibility: visible;
}
#modal-gif-finder:target #modal-gif-finder-contain {
  visibility: visible;
}

#close4:target {
  z-index: -5;
  visibility: hidden;
}
#close4:target #modal-gif-finder-contain {
  visibility: hidden;
}/*# sourceMappingURL=modal.css.map */